/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #1affe4;
  --ifm-color-primary-dark: #00fddf;
  --ifm-color-primary-darker: #00efd3;
  --ifm-color-primary-darkest: #00c5ae;
  --ifm-color-primary-light: #36ffe7;
  --ifm-color-primary-lighter: #44ffe9;
  --ifm-color-primary-lightest: #6effee;
  --ifm-background-color: #062932;
  --ifm-background-surface-color: #052129;
  --ifm-toc-border-color: #052129;
  --ifm-menu-color: white
}


div.language-ts.theme-code-block {
  box-shadow: 0px 5px 10px 6px #062129;
}


.footer, .footer-dark {
  --ifm-footer-background-color: var(--ifm-background-surface-color);
}



blockquote {
  font-size: 20px;
  font-weight: bold;
  background: var(--ifm-background-surface-color);
  border-color: hsl(0deg 0% 100% / 47%);
  border-radius: 10px;
  border-width: 2px;
  padding: 10px 20px;
  margin-bottom: 50px;
  margin-top: 50px !important;
}


h1 {
  position: relative;
}

h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 20px;
  background: linear-gradient(to right, var(--ifm-color-primary-darkest), transparent);
  opacity: 0.13;
}

h2 {
  position: relative;
}

code {
  padding: 0.2em 0.4em;
  background: var(--ifm-background-surface-color);
  color: white;
  opacity: 0.9;
  font-weight: 600;
  /* white-space: nowrap; */
}

.pagination-nav__link {
  border-radius: 115px;
  border-width: 0.3px;
  border-color: black;
  padding: 21px 36px;
  background: var(--ifm-background-surface-color);
}


.menu__list-item-collapsible > a, .menu__list-item-collapsible > a.menu__link--active {
  background-color: var(--ifm-background-surface-color) !important;
}

aside {
  box-sizing: content-box;
}


.footer__items {
  background: var(--ifm-background-surface-color);
}


